@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --background: #f5f7fb;
  --foreground: #0f172a;
}

@theme inline {
  --color-text: var(--text-primary);
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}



/* font utilities */
.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-poppins {
  font-family: var(--font-poppins);
}
